<footer class='container'>
    <div class='row'>
        <div class='col'>
            <span>Stave Coffee Company</span>
        </div>
        <div class='col'>
            <span>"Small Batch Roasted Coffee."</span>
        </div>
        <div class='column'>
            <span><a href='https://www.instagram.com/stavecoffee/' class='fa fa-instagram'></a></span>
        </div>
    </div>
</footer>