<footer class='container'>
    <div class='row'><div class='six columns'>
    <span>
        Stave Coffee Company
    </span>
    </div>
    <div class='six columns'>
    <span>
        "Small Batch Roasted Coffee."
    </span>
</div>
</footer>