<header>
    <nav class='navbar navbar-expand-lg navbar-light bg-light'>
        <a class='navbar-brand' href='/'>Stave Coffee Company</a>
        <div class='collapse navbar-collapse justify-content-between' id='navbarNavDropdown'>
            <ul class='navbar-nav row justify-content-between align-items-center'>
                <li class='nav-item active col'>
                    <a class='nav-link' href='/blog'>Blog</a>
                </li>
                <li class='nav-item active col'>
                    <a class='nav-link' href='/ourfounders'>Our Founders</a>
                </li>
            
                <li class='nav-item active col'>
                    <a class='nav-link' href='/peru'>Peru</a>
                </li>
                <li class='nav-item active col'>
                    <a class='nav-link' href='/guatemala'>Guatemala</a>
                </li>
            </ul>
            <ul class='navbar-nav row align-items-center'>
                <% if (currentUser) { %>
                    <li class='nav-item col px-lg-3'>Welcome, <%= currentUser.username %>.
                    </li>
                    <li class='col'>
                        <form class='form-inline' action='/sessions?_method=DELETE' method='POST'>
                            <div class='form-group mb-2 nav-link'>
                            <input type='submit' value='Log Out'/>
                        
                        </form>
                    </li>
                        <% } else { %>
                    <li class='nav-item col'>
                        <a class='nav-link' href='/users/new'>Sign Up</a>
                    </li>

                    <li class='nav-item col'>
                        <a class='nav-link' href='/sessions/new'>Log In</a>
                    </li>
                    <% } %>
                
            </ul>
        </div>
    </nav>
</header>