<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stave Coffee Company</title>
<!-- FONTS -->
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
<!-- SOCIAL MEDIA ICON LIBRARY -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- CSS STYLING -->
<link rel="stylesheet" href="/css/bootstrap.css">    
<style>
    body{
        font-family: 'Playfair Display', serif;
    }
    .fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}


.fa:hover {
  opacity: 0.7;
}

</style>