<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Stave Coffee Company</title>
<!-- FONTS -->
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
<!-- CSS STYLING -->
<link rel="stylesheet" href="/css/bootstrap-grid.css">    
 
<link rel="stylesheet" href="/css/bootstrap-reboot.min.css">    
<link rel="stylesheet" href="/css/bootstrap.min.css">  
<link rel="stylesheet" href="/css/bootstrap-reboot.css">    
<link rel="stylesheet" href="/css/bootstrap-grid.min.css">  
<link rel="stylesheet" href="/css/bootstrap.css"> 
<style>
    body{
        font-family: 'Playfair Display', serif;
    }
</style>