<header class='container'>
    <h3><a href='/'>Stave Coffee Company</a></h3>
    <ul class="right">
        <li><a href="/blog">Write a blog</a></li>
        <li><a href='/ourfounders'>Our Founders</a></li>
        <% if (currentUser) { %>
        <li>Welcome <%= currentUser.username %></li>
        <li>
          <form action="/sessions?_method=DELETE" method="POST">
            <input type="submit" value="Log Out" class="" />
          </form>
        </li>
        <% } else { %>
        <li><a href="/users/new">Sign Up</a></li>
        <li><a href="/sessions/new">Log In</a></li>
        <% } %>
      </ul>
</header>
