<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog Page</title>
</head>
<body>
    
    <form action='/blog/<%= reviews._id %>?_method=PUT' method='POST'>
        <label for='title'>Change your headline</label>
        <input type='text' name='title' value='<%= reviews.title %>' id='title'><br/>
        <label for='review'>Write your review</label>
        <input type='text' name='review' value='<%=  %>' id='title'><br/>
        
        <label for='firstTime'>Is this your first time trying this roast?</label>
        <input type='checkbox' name='firstTime'/><br/> 
        <input type='submit' value='Submit'/>
    </form>
    
</body>
</html>