<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog Page</title>
</head>
<body>
    <form action='/blog/<%= reviews.id %>?_method=PUT' method='POST'>
        <label for='title'>Change your headline</label>
        <input type='text' name='title' value='<%= reviews.title %>' id='title'><br/>
        <label for='review'>Write your review</label>
        <input type='text' name='review' value='<%= reviews.review %>' id='title'><br/>
        <label for='name'>Name</label>
        <input type='text' name='name' value='<%= reviews.name %>' id='title'><br/>
        <label for='firstTime'>Is this your first time trying this roast?</label>
        <input type='checkbox' name='firstTime' <% if(reviews.firstTime === true) { %>
            checked
            <% } %> /><br/>
        <input type='submit' value='Submit'>
    </form>
    
</body>
</html>