<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('./partials/header.ejs') %>


    <div class='container'>
        <div><a href='/guatemala'>Guatemala</a></div>
        <div><a href='/peru'>Peru</a></div>
    </div>
    <!-- Footer -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>