<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('./partials/header.ejs') %>

    <!-- PAGE CONTENT -->   
    <div class='container'>
        <div class='row'>
        <div class='six columns'><a href='/guatemala'>Guatemala</a></div>
        <div class='six columns'><a href='/peru'>Peru</a></div>
        </div>
    </div>
    <!-- FOOTER -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>