<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Stave Coffee Home</title>
</head>
<body>
    <header>
        <h3><a href='/'>Stave Coffee</a></h3>
        <%- include('./partials/nav.ejs') %>
        <nav>
            <ul>
                <li><a href='/ourfounders'>Our Founders</a></li>
                <li><a href='/blog'>Blog</a></li>
                <li>Cart</li>
            </ul>
        </nav>
</header>
    <div class='container'>
        <div><a href='/guatemala'>Guatemala</a></div>
        <div><a href='/peru'>Peru</a></div>
    </div>
</body>
</html>