<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('./partials/header.ejs') %>

    <!-- PAGE CONTENT -->   
    <div class='container'>
        <div class='row'>
            <div class=col>
                <div class='card'><a href='/guatemala'>Guatemala</a></div>
            </div>
            <div class='col'>
                <div class='card'><a href='/peru'>Peru</a></div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>