<!DOCTYPE html>
<html lang='en'>
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('./partials/header.ejs') %>

    <!-- PAGE CONTENT -->   
    <div class='container'>
        <div class='row'>
            <div class='col'>
                <div class='col'>
                    <div class='card' style='width: 30rem;'>
                        <img class='card-img-top' src='https://images.unsplash.com/photo-1515471897120-85416077e011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80'>
                        <div class='card-body'>
                            <a href='/guatemala'>Guatemala</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <div class='col'>
                    <div class='card' style='width: 30rem;'>
                        <img class='card-img-top' src='https://images.unsplash.com/photo-1525088553748-01d6e210e00b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1355&q=80'>
                        <div class='card-body'>
                            <a href='/peru'>Peru</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- FOOTER -->
    <%- include ('./partials/footer.ejs') %>
</body>
</html>