<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Stave Coffee Home</title>
</head>
<body>
    <header>
        <h3><a href='/'>Stave Coffee</a></h3>
        <nav>
            <ul>
                <li>Our Founders</li>
                <li><a href='/blog'>Blog</a></li>
                <li>Cart</li>
            </ul>
        </nav>
</header>
    <div class='container'>
        <div>Guatemala</div>
        <div>Peru</div>
    </div>
</body>
</html>