<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>Stave Blog </title>
    
</head>
<body>
    <header>
        <h3>Stave Coffee</h3> 
        <nav><ul><li><a href='/'>Back to Store</a></li></ul></nav>
    </header>
    <h3>Leave us a review!</h3>
    <div class='container'>
        <form>
            <label for='title'>Add a headline</label>
            <input type='text' name='title' value='What is most important to know?' id='title'><br>
            <label for='review'>Write your review</label>
            <input type='text' name='review' value='What did you like or dislike? How did you brew this roast?' id='title'><br>
            <label for='name'>Name</label>
            <input type='text' name='name' value='What is your name?' id='title'><br>
            <label for='firstTime'>Is this your first time trying this roast?</label>
            <input type='checkbox' name='firstTime'><br>
            <input type='submit' value='Submit'>
        </form>

    </div>
   
</body>
</html>