<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('../partials/head.ejs') %>
    <h1>Log In</h1>
    <form action='/sessions' method='POST'>
        <label>username</label><br/>
        <input type='text' name='username'/><br/>
        <label>password</label><br/>
        <input type='password' name='password'/>
        <input type='submit' value='Log In'/>

    </form>
</body>
</html>