<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('../partials/head.ejs') %>
    <h1>sign up</h1>
    <form action='/users' method='POST'>
        <label>username</label><br/>
        <input type='text' name='username'/><br/>
        <label>password</label><br/>
        <input type='password' name='password'/>
        <input type='submit' value='Sign Up'/>
    </form>
    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>