<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('../partials/header.ejs') %>

    <!-- PAGE CONTENT -->
    <div class='container'>
        <h1>Guatemala</h1>
    </div>
    <!-- FOOTER -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>