<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('../partials/header.ejs') %>

    <!-- PAGE CONTENT -->
    <img class='img-fluid' src='https://images.unsplash.com/photo-1559489110-40a90ee4e70a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1343&q=80'>
    <div class='container'>
    <div class=''>
        <h1>Guatemala</h1>
    </div>
        
    </div>
    <!-- FOOTER -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>