<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('../partials/header.ejs') %>
    <h1>Peru</h1>
    <!-- Footer -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>