<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('../partials/header.ejs') %>

    <!-- PAGE CONTENT -->
    <h1>Peru</h1>

    <!-- FOOTER -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>