<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
</head>
<body>
    <!-- HEADER -->
    <%- include ('../partials/header.ejs') %>

    <!-- PAGE CONTENT -->
    <img class='img-fluid' style='object-fit: none; object-position: center; width: 100%; max-height: 250px; margin-bottom: 1rem;' src='https://images.unsplash.com/photo-1526392060635-9d6019884377?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'>
    <div class='container'>
    <div class=''>
        <h1 class='px-lg-4'>Peru</h1>

        <div class='row bg-light'>
            <div class='col py-4 px-lg-3'>
                <img class='' style='object-fit: cover; object-position: center; width: 100%; max-height: 250px; margin-bottom: 1rem;' src='https://images.unsplash.com/photo-1515471897120-85416077e011?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1534&q=80'>
                <a href='/peru'>Peru</a>
            </div>
          
            <div class='col py-4 px-lg-3'>
                <a href='/peru'>Peru</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam asperiores quos quidem perferendis quo id vero, corporis laudantium ea eius iusto eaque aliquid velit praesentium, fugit culpa explicabo quia a.</p>
            </div>  
        </div>
    </div>
        
    </div>
    <!-- FOOTER -->
    <%- include ('../partials/footer.ejs') %>
</body>
</html>